{% extends 'layout/base.html' %}

{% block content %}
    <section class="blog">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-11">
                    <div class="post wow fadeIn">
                        <figure class="post-image"><img src="images/blog01.jpg" alt="Image"></figure>
                        <div class="post-content">
                            <div class="avatar">
                                <img src="images/avatar01.png" alt="Image">by
                                <a href="#">Jessica Parket</a>
                            </div>
                            <h3 class="post-title">We're repeating one of our most successful email campaigns this
                                February</h3>
                            <small class="post-date">21 February, 2019</small>
                            <p class="post-intro">Design is our playground. While we create an awesome experience, we
                                like having fun. No animals were harmed, no bridges were burned during our parties.</p>
                            <a href="blog-single.html" class="post-link">READ MORE</a>
                        </div>
                        <!-- end post-content -->
                    </div>
                    <!-- end post -->
                    <div class="post wow fadeIn">
                        <figure class="post-image"><img src="images/blog02.jpg" alt="Image"></figure>
                        <div class="post-content">
                            <div class="avatar">
                                <img src="images/avatar01.png" alt="Image">by
                                <a href="#">Jessica Parket</a>
                            </div>
                            <h3 class="post-title">We're repeating one of our most successful email campaigns this
                                February</h3>
                            <small class="post-date">21 February, 2019</small>
                            <p class="post-intro">Design is our playground. While we create an awesome experience, we
                                like having fun. No animals were harmed, no bridges were burned during our parties.</p>
                            <a href="blog-single.html" class="post-link">READ MORE</a>
                        </div>
                        <!-- end post-content -->
                    </div>
                    <!-- end post -->
                    <div class="post wow fadeIn">
                        <figure class="post-image"><img src="images/blog03.jpg" alt="Image"></figure>
                        <div class="post-content">
                            <div class="avatar">
                                <img src="images/avatar01.png" alt="Image">by
                                <a href="#">Jessica Parket</a>
                            </div>
                            <h3 class="post-title">We're repeating one of our most successful email campaigns this
                                February</h3>
                            <small class="post-date">21 February, 2019</small>
                            <p class="post-intro">Design is our playground. While we create an awesome experience, we
                                like having fun. No animals were harmed, no bridges were burned during our parties.</p>
                            <a href="blog-single.html" class="post-link">READ MORE</a>
                        </div>
                        <!-- end post-content -->
                    </div>
                    <!-- end post -->
                    <div class="post wow fadeIn">
                        <figure class="post-image"><img src="images/blog04.jpg" alt="Image"></figure>
                        <div class="post-content">
                            <div class="avatar">
                                <img src="images/avatar01.png" alt="Image">by
                                <a href="#">Jessica Parket</a>
                            </div>
                            <h3 class="post-title">We're repeating one of our most successful email campaigns this
                                February</h3>
                            <small class="post-date">21 February, 2019</small>
                            <p class="post-intro">Design is our playground. While we create an awesome experience, we
                                like having fun. No animals were harmed, no bridges were burned during our parties.</p>
                            <a href="blog-single.html" class="post-link">READ MORE</a>
                        </div>
                        <!-- end post-content -->
                    </div>
                    <!-- end post -->
                    <div class="post wow fadeIn">
                        <figure class="post-image"><img src="images/blog05.jpg" alt="Image"></figure>
                        <div class="post-content">
                            <div class="avatar">
                                <img src="images/avatar01.png" alt="Image">by
                                <a href="#">Jessica Parket</a>
                            </div>
                            <h3 class="post-title">We're repeating one of our most successful email campaigns this
                                February</h3>
                            <small class="post-date">21 February, 2019</small>
                            <p class="post-intro">Design is our playground. While we create an awesome experience, we
                                like having fun. No animals were harmed, no bridges were burned during our parties.</p>
                            <a href="blog-single.html" class="post-link">READ MORE</a>
                        </div>
                        <!-- end post-content -->
                    </div>
                    <!-- end post -->
                </div>
                <!-- end col-11 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
{% endblock content %}