{% extends 'layout/base.html' %}

{% block content %}
    <section class="contact">
        <div class="container">
            <div class="row">
                <div class="col-12 wow fadeIn">
                    <div class="title">
                        <h5>CONTACT</h5>
                        <h3>Get in touch</h3>
                    </div>
                    <!--end title -->
                </div>
                <!-- end col-12 -->
                <div class="col-md-6 wow fadeIn">
                    <div class="contact-box">
                        <h6>SAY HELLO</h6>
                        <p>Laterbioshie Road 28<br>
                            Accra, GHANA
                        </p>
                    </div>
                    <!--end contact-box -->
                </div>
                <!-- end col-6 -->
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="contact-box">
                        <h6>LET'S TALK</h6>
                        <a href="#">+233 500 755 078</a>
                        <h6>REACH US</h6>
                        <a href="#">info@teczaleel.com</a></div>
                    <!--end contact-box -->
                </div>
                <!-- end col-6 -->
                <div class="col-12 wow fadeIn">
                    <div class="map" id="map"></div>
                    <!-- end map -->
                </div>
                <!-- end col-12 -->
                <div class="col-md-5 wow fadeIn">
                    <div class="title">
                        <h5>CONTACT FORM</h5>
                        <h3>If you have any question just ask us</h3>
                    </div>
                    <!--end title -->
                </div>
                <!-- end col-5 -->
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                    <form id="contact" name="contact" method="post">
                        <div class="form-group"><span>Your name</span>
                            <input type="text" name="name" id="name" required>
                        </div>
                        <!-- end form-group -->
                        <div class="form-group"><span>Your e-mail</span>
                            <input type="text" name="email" id="email" required>
                        </div>
                        <!-- end form-group -->
                        <div class="form-group"><span>Subject</span>
                            <input type="text" name="subject" id="subject" required>
                        </div>
                        <!-- end form-group -->
                        <div class="form-group"><span>Your message</span>
                            <textarea name="message" id="message" required></textarea>
                        </div>
                        <!-- end form-group -->
                        <div class="form-group">
                            <button id="submit" type="submit" name="submit">SUBMIT</button>
                        </div>
                        <!-- end form-group -->
                    </form>
                    <!-- end form -->
                    <div class="form-group">
                        <div id="success" class="alert alert-success" role="alert"> Your message was sent successfully!
                            We will be in touch as soon as we can.
                        </div>
                        <!-- end success -->
                        <div id="error" class="alert alert-danger" role="alert"> Something went wrong, try refreshing
                            and submitting the form again.
                        </div>
                        <!-- end error -->
                    </div>
                    <!-- end form-group -->
                </div>
                <!-- end col-6 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
{% endblock content %}