<footer class="footer">
    <div class="container">
        <div class="content-box wow fadeIn" data-wow-delay="0s">
            <h2>ADDRESS</h2>
            <p> Boryissa Hymri Str. No : 126<br>
                Poxniaky Greenline<br>
                Kiev - Ukraine </p>
        </div>
        <!-- end content-box -->
        <div class="content-box wow fadeIn" data-wow-delay="0.1s">
            <h2>GET IN TOUCH</h2>
            <p>+380 98 294 80 86<br>
                hello [at] verno.com.ua</p>
        </div>
        <!-- end content-box -->
        <div class="content-box wow fadeIn" data-wow-delay="0.2s">
            <h2>CAREER</h2>
            <p>To see currently open positions<br>
                career [at] verno.com.ua</p>
        </div>
        <!-- end content-box -->
    </div>
    <!-- end container -->
</footer>
<!-- end footer -->
<footer class="sub-footer">
    <div class="container wow fadeIn"><small>All rights reserved 2019 © Verno</small>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Behance</a></li>
            <li><a href="#">Dribbble</a></li>
        </ul>
    </div>
    <!-- end container -->
</footer>