{% load static %}
<header class="header">
    <aside class="soundbar">
        <div class="sound">
            <div class="sound-title"> SOUND</div>
            <!-- end sound-title -->
            <div class="equalizer">
                <div class="holder"><span></span> <span></span> <span></span> <span></span><span></span><span></span>
                </div>
                <!-- end holder -->
            </div>
            <!-- end equalizer -->
            <div class="sound-text"><b>OFF<br>
                ON</b></div>
            <!-- end sound-text -->
        </div>
        <!-- end sound -->
    </aside>
    <!-- end soundbar -->
    <ul class="social-media">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Behance</a></li>
        <li><a href="#">Dribbble</a></li>
    </ul>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-inner bg-image" data-background="{% static 'pages/images/slide01.jpg' %}">
                    <div class="container">
                        <h5 data-swiper-parallax="-200">Descriptin from the <span>partial</span> uses</h5>
                        <h2 data-swiper-parallax="-300">Becomes Deluxe</h2>
                        <a href="works-single.html" data-swiper-parallax="-100" class="btn-ghost"><span
                                data-hover="GET STARTED">GET STARTED</span></a>
                    </div>
                    <!-- end container -->
                </div>
                <!-- end slide-inner -->
            </div>
            <!-- end swiper-slide -->
            <div class="swiper-slide">
                <div class="slide-inner bg-image" data-background="{% static 'pages/images/slide02.jpg' %}">
                    <div class="container">
                        <h5 data-swiper-parallax="-200">Benefit from the <span>partial</span> uses</h5>
                        <h2 data-swiper-parallax="-300">New Advance</h2>
                        <a href="{% static 'pages/videos/video.mp4' %}" data-swiper-parallax="-100" class="btn-play"
                           data-fancybox><img
                                src="{% static 'pages/images/icon-play.svg' %}" alt="Image"></a>
                    </div>
                    <!-- end container -->
                </div>
                <!-- end slide-inner -->
            </div>
            <!-- end swiper-slide -->
            <div class="swiper-slide">
                <div class="slide-inner bg-image" data-background="{% static 'pages/images/slide03.jpg' %}">
                    <div class="container">
                        <h5 data-swiper-parallax="-200">Designing from the <span>partial</span> uses</h5>
                        <h2 data-swiper-parallax="-300">Danske Rederier</h2>
                        <a href="works-single.html" data-swiper-parallax="-100" class="btn-ghost"><span
                                data-hover="GET STARTED">GET STARTED</span></a></div>
                    <!-- end container --></div>
                <!-- end slide-inner -->
            </div>
            <!-- end swiper-slide -->
        </div>
        <!-- end swiper-wrapper -->
        <div class="swiper-pagination"></div>
        <!-- end swiper-pagination -->
        <div class="swiper-button-next"><span data-hover="NEXT">NEXT</span></div>
        <!-- end swiper-button-next -->
        <div class="swiper-button-prev"><span data-hover="PREV">PREV</span></div>
        <!-- end swiper-button-prev -->
    </div>
    <!-- end swiper-container -->
</header>