<div class="navigation-menu">
    <div class="nav-bg"></div>
    <!-- end nav-bg -->
    <div class="nav-bg2"></div>
    <!-- end nav-bg2 -->
    <div class="inner">
        <address>
            <span>ADDRESS</span>
            <p>Boryissa Hymri Str. No : 126<br>
                Poxniaky Greenline<br>
                Kiev - Ukraine
            </p>
        </address>
        <ul>
            <li>
                <a href="{% url 'pages:home' %}">HOME</a>
            </li>
            <li>
                <a href="{% url 'pages:works' %}">WORKS</a>
            </li>
            <li>
                <a href="{% url 'pages:blog' %}">BLOG</a>
            </li>
            <li>
                <a href="{% url 'pages:contact' %}">CONTACT</a>
            </li>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">LOGOUT</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}">LOGIN</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <!-- end inner -->
</div>