<div class="navigation-menu">
  <div class="nav-bg"></div>
  <!-- end nav-bg -->
  <div class="nav-bg2"></div>
  <!-- end nav-bg2 -->
  <div class="inner">
    <address>
    <span>ADDRESS</span>
    <p>Boryissa Hymri Str. No : 126<br>
      Poxniaky Greenline<br>
      Kiev - Ukraine</p>
    </address>
    <ul>
      <li><a href="{% url 'pages:home' %}">HOME</a>
      <ul>
      	<li><a href="index.html">Slider</a></li>
      	<li><a href="index-video-bg.html">Video BG</a></li>
      	<li><a href="index-carousel.html">Carousel</a></li>
      </ul>
      </li>
      <li><a href="verno.html">VERNO</a></li>
      <li><a href="#">WORKS</a>
      <ul>
      	<li><a href="works.html">3 Columns</a></li>
      	<li><a href="works-2cols.html">2 Columns</a></li>
      </ul>
      </li>
      <li><a href="{% url 'pages:blog' %}">BLOG</a></li>
      <li><a href="contact.html">CONTACT</a></li>
    </ul>
  </div>
  <!-- end inner -->
</div>