<div class="navigation-menu">
    <div class="nav-bg"></div>
    <!-- end nav-bg -->
    <div class="nav-bg2"></div>
    <!-- end nav-bg2 -->
    <div class="inner">
        <address>
            <span>ADDRESS</span>
            <p>Boryissa Hymri Str. No : 126<br>
                Poxniaky Greenline<br>
                Kiev - Ukraine
            </p>
        </address>
        <ul>
            <li>
                <a href="{% url 'pages:home' %}">HOME</a>
            </li>
            <li>
                <a href="{% url 'pages:case-study' %}">CASE STUDY</a>
            </li>
            <li>
                <a href="#">COMPANY</a>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Teams</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li>
                        <a href="{% url 'pages:blog' %}">Blog</a>
                    </li>
                    <li>
                        <a href="{% url 'pages:contact' %}">Contact</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{% url 'pages:products' %}">PRODUCTS</a>
            </li>
            <li>
                <a href="#">SERVICES</a>
                <ul>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">Mobile App</a></li>
                    <li><a href="#">Enterprise Solutions</a></li>
                    <li><a href="#">Strategy</a></li>
                    <li><a href="#">Brands Communication Management</a></li>
                </ul>
            </li>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">LOGOUT</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}">LOGIN</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <!-- end inner -->
</div>